/*----Mediaquery---*/
/*--Home--*/
@media screen and (max-width:990px) {
    .container {
      width: 100%;
      height: 100vh;
    }
    .hero nav .logo{
      font-size: 50px;
    }
    .hero nav .nav-links {
      display:
    }
    .hero .content .div-text h1{
      font-size: 36px;
    }
    .hero .content .div-text h4{
        font-size: 29px;
   }
     .hero .content .div-text h4 span{
        color: #fff;
    }
      .hero .content .div-text p{
        font-size: 20px;
    }
      .hero .content .div-text .btn{
        font-size: 20px;
    }
      .hero .content .div-img {
        width: 90%;
    }
}  


    @media screen and (max-width:760px) {
      .container {
        width: 100%;
        height: 100vh;
      }
      .hero nav .logo{
        font-size: 50px;
      }
      .hero nav .nav-links {
        display: none;
      }
      .hero .content .div-text h1{
        font-size: 36px;
      }
      .hero .content .div-text h4{
          font-size: 29px;
        }
       .hero .content .div-text h4 span{
          color: #fff;
       }
        .hero .content .div-text p{
          font-size: 20px;
        }
        .hero .content .div-text .btn{
          font-size: 20px;
        }
        .hero .content .div-img {
          width: 90%;
        }
   }   

        @media screen and (max-width:530px) {
          .container {
            width: 100%;
            height: 100vh;
          }
          .hero nav .logo{
            font-size: 50px;
          }
          .hero nav .nav-links {
            display: none;
          }
          .hero .content .div-text h1{
            font-size: 36px;
          }
          .hero .content .div-text h4{
              font-size: 29px;
          }
           .hero .content .div-text h4 span{
              color: #fff;
          }
            .hero .content .div-text p{
              font-size: 20px;
          }
            .hero .content .div-text .btn{
              font-size: 20px;
          }
            .hero .content .div-img {
              width: 100%;
         }
  
  }

  /* --contact--
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */



  /*-------About-----*/